@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */

ul {
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 50px;
}

li {
    display: flex;
    gap: 8%;
    margin-left: 10px;
    margin-bottom: 80px;
}

.country-body img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 320px;
    height: 240px;
}